* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f3e8ff, #ede9fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  max-width: 90%;
  width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #7c3aed;
  margin-bottom: 20px;
  text-align: center;
  word-wrap: break-word;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  flex: 1;
  min-width: 60%;
}

button {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  word-wrap: break-word;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5b21b6;
}


#resultBox {
  text-align: left;
  margin-top: 20px;
  background: #f9fafb;
  padding: 20px;
  border-left: 5px solid #8b5cf6;
  border-radius: 8px;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .input-group {
    flex-direction:column;
  }

  input, button {
    width: 100%;
  }

}
